html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
body h1 {
  font-family: futura-book;
  font-size: 31pt;
}
body h2 {
  font-family: avenir next;
  font-weight: 500;
  font-size: 19pt;
}
body span,
body p {
  font-family: avenir next;
  font-size: 12pt;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 293px;
}
header nav {
  margin-bottom: 60px;
}
header nav ul {
  list-style: none;
  display: flex;
  column-gap: 80px;
  padding: 0;
}
header nav ul li {
  font-family: avenir next;
  font-size: 12pt;
  margin: 0;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
header .img-container {
  width: 140px;
}
header .img-container img {
  width: 100%;
}
header .top-nav {
  display: flex;
  justify-content: end;
  margin-bottom: 80px;
  width: 100%;
}
header .top-nav .cart-container {
  margin-right: 40px;
  width: 27px;
}
header .top-nav .cart-container img {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
  background-color: #ca99c5;
  margin-bottom: 40px;
}
main .about .img-container {
  width: 110px;
}
main .about .img-container img {
  width: 100%;
}
main .about .about-text {
  max-width: 304px;
  text-align: center;
  color: #782452;
}
main .news {
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .news h2 {
  width: 220px;
}
main .news .news-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
main .news .news-images .img-container {
  width: 220px;
}
main .news .news-images .img-container img {
  width: 100%;
}
main .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../assets/tiles.png");
  background-repeat: repeat;
}
main .contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}
main .contact form span {
  text-align: center;
}
main .contact form label {
  font-family: avenir next;
  font-weight: 500;
  font-size: 12pt;
}
main .contact form .person {
  width: 70%;
}
main .contact form .person input[type=text],
main .contact form .person input[type=email],
main .contact form .person select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
main .contact form .form-message {
  width: 70%;
}
main .contact form .form-message input[type=textarea],
main .contact form .form-message select {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
main .contact form input[type=submit] {
  width: 100%;
  background-color: #ca99c5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #782452;
  height: 900px;
  margin: 0;
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
footer .wrapper .top-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .wrapper .top-footer .img-container {
  width: 110px;
}
footer .wrapper .top-footer .img-container img {
  width: 100%;
}
footer .wrapper .top-footer .info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: white;
}
footer .wrapper .top-footer .info .info-text {
  display: flex;
  flex-direction: column;
  width: 185px;
}
footer .socials .img-container {
  width: 170px;
}
footer .socials .img-container img {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  main .news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .news h2 {
    margin-left: 20px;
    width: 490px;
  }
  main .news .news-images {
    width: 490px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  main form .person {
    display: flex;
    column-gap: 20px;
  }
  main form .form-message {
    max-width: 468px;
  }
  main form #submit {
    max-width: 468px;
  }

  footer {
    height: 750px;
  }
  footer .wrapper {
    row-gap: 120px;
  }
  footer .wrapper .top-footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    row-gap: 80px;
    width: 364px;
  }
}
@media only screen and (min-width: 1440px) {
  main .news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .news h2 {
    margin-left: 20px;
    width: 1050px;
  }
  main .news .news-images {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: no-wrap;
  }

  footer .wrapper .top-footer {
    flex-direction: column;
  }
  footer .wrapper .top-footer .info {
    flex-direction: row;
    column-gap: 160px;
  }
}

/*# sourceMappingURL=main.css.map */
